<div class="well">
	<legend><h2 class="form-signin-heading"><%= title %></h2></legend>

	<form class="form-horizontal font16">
		<fieldset>
			<div class="col-sm-4 col-sm-offset-0 text-center">
				<div>
				  	<span id="provider_image_preview">
						
				  	</span>
			  	</div>
			</div> <!-- right div -->

			<div class="col-sm-7">
				<!-- Mission-->
				<% if (mission != '') { %>
			    <div class="form-group">
					<label class="col-sm-3 control-label">Mission</label>
					<div class="col-sm-9">
						<p id="span_motto"  class="content form-control-static"><%= mission %></p>
					</div>
				</div>
				<% } %>

				<!-- Date Founded-->
				<% if (founded != '' && founded != '0000') { %>
			    <div class="form-group">
					<label class="col-sm-3 control-label">Year Founded</label>
					<div class="col-sm-9">
						<p id="span_bday"  class="content form-control-static"><%= founded %></p>
					</div>
				</div>
				<% } %>

				<!-- Description-->
				<% if (description != '') { %>
			    <div class="form-group">
					<label class="col-sm-3 control-label">Description</label>
					<div class="col-sm-9">
						<p id="span_motto"  class="content form-control-static"><%= description %></p>
					</div>
				</div>
				<% } %>

				<!-- Education-->
				<% if (size != '') { %>
			    <div class="form-group">
					<label class="col-sm-3 control-label">Employees</label>
					<div class="col-sm-9">
						<p id="span_education"  class="content form-control-static"><%= size %></p>
					</div>
				</div>
				<% } %>

				<!-- Products-->
				<% if (products != '') { %>
			    <div class="form-group">
					<label class="col-sm-3 control-label">Produts and Services</label>
					<div class="col-sm-9">
						<p id="span_products"  class="content form-control-static"><%= products %></p>
					</div>
				</div>
				<% } %>

				<!-- Address-->
				<% if (address.street1 != '' || address.street2 != '' || address.continent != '' ||
								address.country != '' || address.province != '' || address.region != '' ||
								 address.city != '' || address.postcode != '') { %>
			    <div class="form-group">
					<label class="col-sm-3 control-label">Mailing Address</label>
					<div class="col-sm-9">
						<% if (address.street1 == '' && address.street2 == '' && address.continent == '' &&
								address.country == '' && address.province == '' && address.region == '' &&
								 address.city == '' && address.postcode == '') { print('<p class="content small-align">no information</p>'); }%>

						<div><p id="span_street1"  class="content form-control-static"><%= address.street1 %></span></div>
						<!--to avoid extra white space we print 2nd address line only if it has some content in it -->
						<div id="span_street2">
							<% if (address.street2 != '') {
							    print('<span class="content">' + address.street2 + '</span>');
							}%>
						</div>
						<div class="content">
							<% if (address.country != '') {
								print('<span id="span_country">' + address.country + '</span>');
							}%>	
							<% if (address.province != '') {
								print('<span id="span_province">, ' + address.province + '</span>');
							}%>	
							<% if (address.city != '') {
								print('<span id="span_city">, ' + address.city + '</span>');
							}%>	
							<% if (address.postcode != '') {
								print('<span id="span_postcode">, ' + address.postcode + '</span>');
							}%>
						</div>
					</div>
				</div>
				<% } %>

				<!-- Email-->
			    <div class="form-group">
					<label class="col-sm-3 control-label">Email list:</label>
					<div class="col-sm-9">
						<div class="emails">
							<% for(var one_email in emails) { %>
					           <div id="email<%= one_email %>">
						           	<p class="content form-control-static"><%= emails[one_email] %></p>
						           	<span class="col-sm-6"><input class="form-control email form hide" type="text" value="<%= emails[one_email] %>" /></span>
						           	<span class="form hide help-block col-sm-6">
						           		<input name="radios" class="form hide" value="<%= one_email %>" type="radio"
								        <% if (one_email == 0) { print('checked="checked"'); }%> > Set as primary
									</span>
					           </div>
					        <% } %>
				        </div>
					       <!--Email -->
					    <div class="form hide">
					        <span class="col-sm-6">
						        <input id="add_email" class="form-control" type="text" placeholder="new email">
						    </span>
						    <span class="col-sm-6">
								<input type="button" class="btn btn-primary provider-add-email" value="Add Email" />
							</span>
							<span id="span_email col-sm-12" class="help-inline"></span>
						</div>
					</div>
				</div>

				<!-- Social Networks-->
				<% if (socialBar.facebook != '' || socialBar.twitter != '' || socialBar.linkedin != '' || socialBar.facebook != '') { %>
			    <div class="form-group">
					<label class="col-sm-3 control-label">Networks</label>
					<div class="col-sm-9">
						<% if (socialBar.facebook == '' && socialBar.twitter == '' && socialBar.linkedin == '' && socialBar.facebook == '') { print('<small class="content small-align">no social networks added</small>'); }%>
						
						<% if (socialBar.facebook != '') {%>
							<a href='https://www.facebook.com/<%= socialBar.facebook %>' class='content'> <img src='img/facebook.png' alt=''/></a>
						<% } %>
						<% if (socialBar.twitter != '') {%>
							<a href='www.twitter.com/<%= socialBar.twitter %>' class='content'> <img src='img/twitter.png' alt=''/></a>
						<% } %>
						<% if (socialBar.linkedin != '') {%>
							<a href='https://www.linkedin.com/profile/view?id=<%= socialBar.linkedin %>' class='content'> <img src='img/linkedin.png' alt=''/></a>
						<% } %>
						<% if (socialBar.google != '') {%>
							<a href='https://plus.google.com/<%= socialBar.google %>' rel='publisher' class='content'> <img src='img/google.png' alt=''/></a>
						<% } %>
					</div>
				</div>
				<% } %>
			</div> <!-- left div -->
		</fieldset>
	</form>
</div>