<div class="well col-sm-4 col-sm-offset-4 row">
	<form role="form">
		<fieldset>

			<legend><h2 class="form-signin-heading"><%= type %> sign up</h2></legend>

			<div id = "sign_in_name_group" class="form-group">
				<input id="sign_in_name" type="text" value="" class="form-control" autofocus="" maxlength="10" placeholder="Name">
				<span id="sign_in_span_name" class="help-block"></span>
			</div>

			<div id = "sign_in_email_group" class="form-group">
				<input id="sign_in_email" type="email" value="" class="form-control" placeholder="Email">
				<span id="sign_in_span_email" class="help-block"></span>
			</div>

			<div id = "sign_in_password_group" class="form-group">
				<input id ="sign_in_password" type="password" value="" class="form-control" maxlength="10" placeholder="Password">
				<span id="sign_in_span_password" class="help-block"></span>
			</div>
			<div id = "sign_in_repeat_password_group" class="form-group">
				<input id="sign_in_repeat_password" type="password" value="" class="form-control" maxlength="10" placeholder="Repeat password">
				<span id="sign_in_span_repeat_password" class="help-block"></span>
			</div>

			<input type="hidden" id="role" name="role" value="<%= typeLower %>">
			
		</fieldset>

		<div id = "sign_in_submit_group" class="form-group text-center">
			<button id="sign_in_submit" class="btn btn-lg btn-block btn-primary" type="submit">Sign up</button>
			<span id="sign_in_span_submit" class="text-danger"></span>
		</div>
	 </form>
</div>