<style>

.on {
  background: #5CB85C;
  /*background: #77B55A;*/
}

.off {
  background: #D9534F;
  /*background: #CC3333;*/
}

.part {
  background: #F0AD4E;
}

.show-box {
	width: 40px;
	height: 12px;
	display: inline-block;
}

.show-span {
	margin-left: 5px;
}

</style>

<div class="well">
	<legend><h2 class="form-signin-heading">User - Voice</h2></legend>

	<form class="form-horizontal font16">
		<fieldset>
			<div class="col-sm-8">
				<!-- if voice exist in the database -->
				<% if (face == 2) { %>
			    <div class="form-group">
					<label class="col-sm-3 control-label"><div class="show-box on"></div></label>
					<div class="col-sm-9">
						<p>Voice is successfully registered</p>
						<p><button class="train-voice btn btn-primary col-sm-4">Retrain</button></p>
					</div>
				</div>
				<% } %>

				<!-- if voice stored incorrectly -->
				<% if (face == 1) { %>
				<div class="form-group">
					<label class="col-sm-3 control-label"><div class="show-box part"></div></label>
					<div class="col-sm-9">
						<p>Voice is registration is incomplete; please, retrain</p>
						<p><button class="train-voice btn btn-warning col-sm-4">Retrain</button></p>
					</div>
				</div>
				<% } %>

				<!-- if voice stored correctly -->
				<% if (face == 0) { %>
				<div class="form-group">
					<label class="col-sm-3 control-label"><div class="show-box off"></div></label>
					<div class="col-sm-9">
						<p>Voice is not registed</p>
						<p><button class="train-voice btn btn-primary col-sm-4">Train</button></p>
					</div>
				</div>
				<% } %>
			</div>
		</fieldset>
	</form>

</div>