<div class="row">
    <div class='col-md-8 col-sm-offset-2'>
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading"><h3>Notification Settings</h3></div>
          <div class="panel-body">
            <form role="form">
				<fieldset>
					<div class="form-group">
	                	<label class="control-label col-sm-3">Notify me on</label>
	                	<div class="col-sm-9 notifications-checkbox">
	                        <label class="checkbox" for="notifications-0">
	                          <input name="notifications" id="notifications-0" type="checkbox" <% if (notifications[0] != 0) print('checked'); %>>
	                          Invitation to secure location
	                        </label>

	                        <label class="checkbox" for="notifications-1">
	                          <input name="notifications" id="notifications-1" type="checkbox" <% if (notifications[1] != 0) print('checked'); %>>
	                          Invitation to website
	                        </label>

	                        <label class="checkbox" for="notifications-2">
	                          <input name="notifications" id="notifications-2" type="checkbox" <% if (notifications[2] != 0) print('checked'); %>>
	                           Status change of my application
	                        </label>
	                    </div>
	                </div>
	                <div class="form-group">
	                	<label class="control-label col-sm-3"></label>
	                	<div class="col-sm-9 website-checkbox">
	                    	<span id="span_notification" class="text-success"></span>
	                    </div>
	                </div>
				</fieldset>
			</form>
          </div>
        </div>

    </div><!-- col end -->
</div><!-- row end -->
