	@import url(https://fonts.googleapis.com/css?family=Roboto:500,300,700,400&subset=cyrillic,latin);
body {
	background-position: top center;
	background-repeat: repeat-x;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 300;
	margin: 0;
	/*min-width: 960px;*/
	overflow: hidden;
	padding: 0;
	color: #000000;
}
html {
	height: 100%;
	overflow-y: scroll;
}
a {
	color: #14a8bb;
	outline: none;
	text-decoration: none;
}
a:hover {
	color: #59d0df;
	text-decoration: underline;
}
a img {
	border: none;
}
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
.clear {
	clear: both;
}
h2 {
	font-size: 18px;
	text-transform: uppercase;
	margin: 10px 0;
}
h3 {
	font-size: 18px;
	font-weight: bold;
	margin: 0 0 10px 0;
}
/* common styles */
.overhead {
	background-color: #f4f2ec;
	font-size: 12px;
}
.top-slogan, .top-topmenu, .top-adres {
	display: inline-block;
	padding: 11px 10px 11px 0px;
}
.top-adres {
	float: right;
}
header {
	background-color: rgba(250,126,92,0.93);
	height: 100px;
	position: fixed;
	width: 100%;
	z-index: 10000;
}
.sticker {
	position: fixed;
	width: 45px;
	right: 0;
	top: 30%;
	z-index: 20000;
}
.sticker img {
	width: 45px;
	padding: 2px 0;
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;
	opacity: 0.8;
}
.sticker img:hover {
	opacity: 1.0;
}

#cycler{position:relative;}
#cycler img{position:absolute;z-index:1;background-color:white}
#cycler img.active{z-index:3}

.inner {
	margin: 0 auto;
	width: 980px;
 position: relative;
}
.logo {
	display: inline-block;
	vertical-align: top;
	text-align: left;
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;
}
.slogan {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	width: 280px;
	margin-top: 8px;
	font-weight: 300;
	border-left: 1px solid #fff;
	margin-left: 20px;
	color: #fff;
	line-height: 20px;
	padding: 20px;
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;
}
.logo img {
	padding-top: 22px;
	width: 229px;
}
.lefthead {
	float: left;
}
.righthead {
	display: inline-block;
	width: initial;
	text-align: right;
	vertical-align: top;
	float: right;
}
.toplinks {
	padding-top: 13px;
}
.toplinks img {
    width: 16px;
    vertical-align: middle;
    display: inline-block;
}
.toplinks a {
	color: #fff;
	padding-left: 20px;
	font-weight: 300;
	font-size: 14px;
}

.signupbutton {
display:inline-block;
vertical-align:top;
}

.signupbutton a {
text-decoration:none;
}

.signupbutton img {
    vertical-align: middle;
    display: inline-block;
}

.signupbuttontext {
display:inline-block;
vertical-align:top;
margin-left:3px;
}

header menu {
	font-size: 20px;
	padding: 0;
	margin: 0;
}
header menu a {
	color: #fff;
	display: inline-block;
	font-weight: 300;
	padding: 5px 6px;
	margin: 13px 0 0 13px;
	border-radius: 4px;
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;
}
header menu a:hover {
	text-decoration: none;
	background-color: #ffefc7;
	color: #828282;
}
header menu a.active {
	text-decoration: none;
	background-color: #14bba5;
	color: #fff;
	;
}

.well h4 {
font-weight:bold;
color:#f47d5d;
}

.underscheme {
	font-size: 24px;
	margin-bottom: 30px;
}
}
.underscheme strong {
	font-size: 30px;
	font-weight: 500;
}
ul#cssmenu ul {
	background: transparent;
	background-color: rgba(255,255,255,0.90);
	border: 0 none;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
	display: none;
	left: 0;
	list-style: none outside none;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 200;
}
ul#cssmenu ul li {
	display: block!important;
	float: left;
	font-size: 12px;
	min-width: 185px;
}
ul#cssmenu li:hover li a:hover, ul#cssmenu li:hover li:hover a, ul#cssmenu li.iehover li a:hover, ul#cssmenu li.iehover li.iehover a {
	background: none repeat scroll 0 0 #3cb7ea;
}
ul#cssmenu {
	margin: 0;
	padding: 0;
}
ul#cssmenu li {
	display: inline-block;
	list-style: none outside none;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 1007;
}
ul#cssmenu ul:after {
	clear: both;
	content: ".";
	display: block;
	font: 1px/0 serif;
	height: 0;
	visibility: hidden;
}
ul#cssmenu li a {
}
ul#cssmenu li li a {
	border-bottom: 1px solid rgba(0,0,0,0.06);
	display: block;
	margin-bottom: 0;
	padding: 10px;
}
ul#cssmenu li li:last-child a {
	border-bottom: none;
}
ul#cssmenu li:hover li a, ul#cssmenu li.iehover li a {
	float: none;
}
ul#cssmenu ul ul {
	display: none;
	left: 170px;
	position: absolute;
	top: 0;
}
ul#cssmenu li:hover ul ul, ul#cssmenu li.iehover ul ul {
	display: none;
}
ul#cssmenu li:hover ul, ul#cssmenu ul li:hover ul, ul#cssmenu li.iehover ul, ul#cssmenu ul li.iehover ul {
	display: block;
}
.hmenu-eqip {
	width: 555px;
}
.mainsplash {
    width: 100%;
    height: 600px;
    background-image: url(../img/home/splash2sharp.jpg);
    background-size: cover;
    background-position: center center;
}

.sidesplash {
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url(../img/sdsplash.png);
    background-size: cover;
    background-position: center center;
}

.sidesplash .splashtext {
    top: 140px;
    width: 100%;
}

.subsidesplash img {
    width: 100%;
}

.grayblock {
background-color: #f0eae9;
    padding: 20px;
}

.whiteblock {
background-color: #ffffff;
    padding: 20px;
}

.sdcol {
    width: 49%;
    display: inline-block;
    vertical-align: middle;
}



.splashtext {
    position: absolute;
    top: 190px
}

.splashcapt {
    font-size: 62px;
    color: #fff;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.splashacapt {
font-size:25px;
color:#fff;
   text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
line-height: 25px;
}

.sidesplash .splashacapt{
line-height: 25px;
} 

.splashbcapt {
	margin-top: 100px;
    font-size: 30px;
    color: #eee;
    display: inline-block;
}



.main-block {
	margin-top: 30px;
	text-align: center;
}
.main-block h2 {
	font-weight: 300;
	font-size: 40px;
	text-transform: none;
}
.main-block h3 {
	font-size: 24px;
	font-weight: 300;
}

.sdcol h3 {
font-weight:bold;
}

.blocks {
	margin-top: 30px;
	font-size: 18px;
}
.main-block  div.block {
	width: 320px;
	display: inline-block;
	background-color: #f9f8f6;
	font-weight: 300;
	padding: 20px;
	height: 205px;
	font-size: 22px;
	position: relative;
	margin: 0px 28px 28px 0;
	box-sizing: border-box;
	vertical-align: top;
}
#wrappertabs div.block:nth-child(3n) {
	margin: 0px 0px 28px 0;
}
.block img {
	width: 120px;
}
.block h2 {
	font-weight: 500;
	color: #14a8bb;
	font-size: 30px;
	text-transform: none;
}
#wrappertabs a.button {
	display: inline-block;
	background-color: #14a8bb;
	color: #fff;
	position: absolute;
	width: 230px;
	left: 49px;
	bottom: 40px;
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;
}
#wrappertabs a.button:hover {
	display: inline-block;
	background-color: #ffa25d;
	color: #fff;
	margin-top: 20px;
}
#wrappertabs .tab1 a.button {
	background-color: #14bba5;
}
#wrappertabs .tab2 .block:nth-child(4n-3) a.button {
	background-color: #14a8bb;
}
#wrappertabs .tab2 .block:nth-child(4n-2) a.button {
	background-color: #5486b5;
}
#wrappertabs .tab2 .block:nth-child(4n-1) a.button {
	background-color: #656a7f;
}
#wrappertabs .tab2 .block:nth-child(4n) a.button {
	background-color: #14bba5;
}
#wrappertabs .tab3 .block:nth-child(4n-3) a.button {
	background-color: #14a8bb;
}
#wrappertabs .tab3 .block:nth-child(4n-2) a.button {
	background-color: #5486b5;
}
#wrappertabs .tab3 .block:nth-child(4n-1) a.button {
	background-color: #656a7f;
}
#wrappertabs .tab3 .block:nth-child(4n) a.button {
	background-color: #14bba5;
}
.block img {
	transition-property: opacity transform;
	transition-duration: 0.8s;
	transition-timing-function: ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.8s;
	-webkit-transition-timing-function: ease;
	opacity: 1;
}
.block:hover img {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(360deg);
	opacity: 0.8;
}
.main-features td img , .features td img {
	transition-property: opacity transform;
	transition-duration: 0.8s;
	transition-timing-function: ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.8s;
	-webkit-transition-timing-function: ease;
	opacity: 1;
}
.main-features td:hover img , .features td:hover img {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(360deg);
	opacity: 0.8;
}
footer {
	background-color: #656a7f;
}
.f-cols {
	padding: 25px 0 10px 0;
}
.f-col {
	color: #fff;
	float: left;
	width: 340px;
}
.f-col:nth-child(1) {
width: 350px;
    font-size: 15px;
}
.f-col:nth-child(2) {
	width: 100px;
	float: right;
}
.f-col:nth-child(3) {
	width: 160px;
	float: right;
}
.f-col:nth-child(4) {
	width: 160px;
	float: right;
}
.f-col:nth-child(5) {
	width: 160px;
	float: right;
}
.f-col h2 {
	font-size: 18px;
	font-weight: bold;
	margin: 4px 0 10px;
	text-transform: none;
}
.f-col ul {
	font-size: 16px;
	line-height: 31px;
	font-weight: 300;
	list-style: none;
	margin: 0;
	padding: 0;
}
.f-col ul img {
	padding-right: 6px;
	vertical-align: middle;
}
.foot-contacts1 {
}
.foot-contacts2 {
}
.foot-contacts3 {
}
.footlogo {
	float: left;
	margin: 15px 0 0;
	font-weight: 300;
}
.footlogo span {
	color: #a4a6b1;
}
.footlogo img {
	width: 170px;
}
.copy {
	color: #fff;
	margin: 10px 0;
}
.sf-menu {
    color: #8e8b8d;
    font-size: 16px;
    font-weight: 300;
    padding-top: 18px;
}
.sf-menu a {
	color: #fff;
	padding-right: 20px;
}
.f-col a {
	color: #fff;
}
.subfooter {
	padding: 0px 0 20px 0;
	background-color: #4c5162;
}

.whipsplash {
width:100%;
}

.registerbutton {
    font-size: 20px;
    display: inline-block;
    background-color: #14bba5;
    color: #fff;
    font-weight: 400;
    background-image: url(../img/home/signup.png);
    padding: 10px 10px 10px 50px;
    background-repeat: no-repeat;
    background-size: 19px;
    background-position: 15px 14px;
        margin: 0 10px;
}

.simplebutton {
    font-size: 20px;
    display: inline-block;
    background-color: #656a7f;
    color: #fff;
    font-weight: 400;
    padding: 10px;
        margin: 0 10px;
}


.nextsplash {
    margin: 0;
    font-size: 0;
    background-color: #f0eae9;
    padding: 20px 0;
    background-image: url(../img/home/gmailscheme.png);
    min-height: 418px;
    background-repeat: no-repeat;
    background-position: center center;
}

.nextsplashbuttons {
    margin-top: 230px;
}

.nistblock {
text-align:center;
color:#fff;
}

.nistblock  a{
color:#fff;
}

.nistblock h2 {
    font-weight: 300;
}

.orangeblock {
    background-color: #f98565;
    width: 75%;
    padding: 12px;
    margin: 25px auto;
}

.nistdownload {
    background-image: url(/img/nistdoc.png);
    background-repeat: no-repeat;
    padding: 20px 0 20px 43px;
    background-position: 0px 12px
}

.main-features {
	width: 100%;
	font-size: 22px;
	margin: 25px 0 0 0;
}
.main-features tr td:nth-child(2n+2) {
	text-align: left;
	padding: 20px;
}
.main-features td {
	vertical-align: middle;
}
.features {
	width: 100%;
	font-size: 20px  margin: 25px 0 0 0;
}
.features td {
	vertical-align: middle;
	width: 33%;
	padding-bottom: 15px;
}
.features td.divider {
	background-color: #eee;
	padding: 0;
	height: 1px;
	margin-top: 20px;
}
/* левое меню
/* Вертикальное меню*/
.vertmenu {
}
ul.vertmenu {
	margin: 0;
	padding: 0;
}
ul.vertmenu li {
	padding: 0;
	margin: 0;
	list-style: none;
	display: block;
}
ul.vertmenu li ul {
	padding: 0;
	margin: 0;
	display: none;
	text-transform: none;
}
ul.vertmenu li ul li {
}
ul#myvertmenu a {
/*Конечное вертикальное меню*/
	text-decoration: none;
	display: block;
	padding: 9px 13px;
	border-bottom: 1px solid #ccc;
}
ul#myvertmenu a {
	font-weight: bold;
	color: #930326;
}
ul#myvertmenu ul a {
	font-weight: 300;
	color: #000;
	background-position: 14px 6px;
	background-repeat: no-repeat;
	padding-left: 46px;
}
ul#myvertmenu ul a:hover {
	background-color: #385593;
	color: #fff;
}
ul#myvertmenu ul a.eqip1 {
	background-image: url('../img/home/eqipicon1.png');
}
ul#myvertmenu ul a.eqip1:hover {
	background-image: url('../img/home/eqipiconwhite1.png');
}
ul#myvertmenu ul a.eqip2 {
	background-image: url('../img/home/eqipicon2.png');
}
ul#myvertmenu ul a.eqip2:hover {
	background-image: url('../img/home/eqipiconwhite2.png');
}
ul#myvertmenu ul a.eqip3 {
	background-image: url('../img/home/eqipicon3.png');
}
ul#myvertmenu ul a.eqip3:hover {
	background-image: url('../img/home/eqipiconwhite3.png');
}
ul#myvertmenu ul a.eqip4 {
	background-image: url('../img/home/eqipicon4.png');
}
ul#myvertmenu ul a.eqip4:hover {
	background-image: url('../img/home/eqipiconwhite4.png');
}
ul#myvertmenu ul a.eqip5 {
	background-image: url('../img/home/eqipicon5.png');
}
ul#myvertmenu ul a.eqip5:hover {
	background-image: url('../img/home/eqipiconwhite5.png');
}
ul#myvertmenu ul a.eqip6 {
	background-image: url('../img/home/eqipicon6.png');
}
ul#myvertmenu ul a.eqip6:hover {
	background-image: url('../img/home/eqipiconwhite6.png');
}
ul#myvertmenu ul a.eqip7 {
	background-image: url('../img/home/eqipicon7.png');
}
ul#myvertmenu ul a.eqip7:hover {
	background-image: url('../img/home/eqipiconwhite7.png');
}
ul#myvertmenu ul a.eqip8 {
	background-image: url('../img/home/eqipicon8.png');
}
ul#myvertmenu ul a.eqip8:hover {
	background-image: url('../img/home/eqipiconwhite8.png');
}
ul#myvertmenu a.collapsed {
	background: url('../img/home/arrowright.png') right 6px no-repeat;
}
ul#myvertmenu a.expanded {
	background: url('../img/home/arrowdown.png') right 6px no-repeat;
}
.visible {
	opacity: 1;
}
.hidden {
	opacity: 0;
}
.document {
	background-color: #eee;
	margin-top: 100px;
}

a.graybutton {
    background-color: #656a7f;
    padding: 10px 10px;
    vertical-align: middle;
    font-weight: 400;
    color: #fff;
}
.page {
	width: 800px;
	text-align: justify;
	margin: 0 auto;
	background-color: #fff;
	padding: 30px;
	box-sizing: border-box;
}
.document .contact {
	width: 219px;
	text-align: left;
}

.gap-block {
    display: inline-block;
    text-align: center;
    width: 185px;
    margin: 20px;
    vertical-align: top;
}

.gap-block img {
    display: block;
    padding-bottom: 10px;
}

.txtlalignleft {
text-align:justify;
width:700px;
margin:0 auto;
}

.ssojoin {
    padding: 20px;
    background-color: #f4eee6;
    margin: 40px 0 0 0;
}


.banner img {margin: 0 auto;}

.scheme img {
    width: 720px;
}

#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
  width: 750px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  width: 750px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 750px;
  height: 480px;
  text-align: center;
}

.featurestable td{
    padding: 8px;
    text-align: center;
}

.featurestable th {
    padding: 8px;
    text-align: center;
}

.featurestable tr:nth-child(odd) {
    background-color:#f0eae9;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}

.phonesplash {
  position: absolute;
    z-index: 999;
    top: 108px;
    right: 0;
    text-align:right;
    display: inline-block;
}

.phonescreen {
    position: absolute;
    z-index: 1000;
    top: 127px;
    right: 76px;
}


.threethings {
    background-color: #14a8bb;
background-image:url(/img/nistbg.png);
background-repeat:no-repeat;
background-position:bottom center;

    padding: 40px 0 40px 0;
}

.threethings .inner {
text-align:left;
}

.infographim {
display: inline-block;
}

.infograph {
    display: inline-block;
    font-size: 41px;
    color: #fff;
    width: 612px;
    vertical-align: middle;
    margin-left: 55px;
    line-height: 44px;
}

.redbutton {
    display: inline-block;
    color: #fff;
    background-color: #fa7e5c;
    padding: 5px 20px;
    font-size: 24px;
    border-radius: 4px;
}


.trynow {
    position: absolute;
    top: 52px;
}

.threethings h2 {
color:#fff;
font-size:32px;
text-align:center;
font-weight:500;
}


.mfblock {
    display: inline-block;
    text-align: center;
    width: 241px;
    color: #fff;
    vertical-align: top;
    box-sizing: border-box;
}

.mfcapt {
font-weight:400;
font-size:24px;
padding: 0 10px;
}

.mftext {
font-size:16px;
font-weight:300;
padding: 0 10px;
}


@media (max-width: 1260px)
{

  header {
    height: 70px;
   }


.sidesplash .splashtext {
       top: 50px;
    width: 100%;
}

.phonescreen {
    position: absolute;
    z-index: 1000;
    top: 105px;
    right: 65px;
    width: 142px!important;
}


   .logo img {
    padding-top: 19px;
    width: 167px;
}


.phonesplash {
    position: absolute;
    top: 5px;
    right: 0;
}


.phonesplash img {
width: 80%;
}



.container {
	margin-top:70px
}

.slogan {
    font-size: 14px;
    margin-top: 8px;
    margin-left: 20px;
    line-height: 18px;
    padding: 9px 20px;
 }

 .scheme img {

}

.underscheme {
    font-size: 20px;
    margin-bottom: 30px;
    width: 800px;
    margin: 0 auto 30px auto;
}

.mainsplash {
    height: 400px;
}

.splashtext {
top: 102px;
}
.splashcapt {
    font-size: 57px;
}

.splashacapt {
    font-size: 23px;
}

.splashbcapt {
	margin-top: 60px;
    font-size: 25px;
}


@media (max-width: 1020px)
{


.sidesplash .splashtext {
    top: 50px;
    width: 100%;
}

.trynow {
    position: absolute;
    top: 42px;
}


.phonescreen {
    position: absolute;
    z-index: 1000;
    top: 91px;
    right: 57px;
    width: 125px!important;
}

.trynow img {
width:60%;
}


.inner {
    margin: 0 auto;
    width: 800px;
}


.phonesplash {
    position: absolute;
    top: 5px;
    right: 0;
}


.phonesplash img {
width: 70%;
}

.splashcapt {
    font-size: 46px;
}

.splashcapt img {
width: 60%;
}

.splashacapt {
    font-size: 19px;
}


.f-col:nth-child(1) {
    width: 200px;
}

.footlogo {
    margin: 0px 0 0;
    font-size: 14px;
    line-height: 30px;
}

.f-col ul {
    font-size: 14px;
    line-height: 24px;
}

.f-col h2 {
    font-size: 16px;
    margin: 4px 0 6px;
}


}



@media (max-width: 900px)
{

body {
    min-width: 800px;
    font-size: 12px;
    }

.inner {
    margin: 0 auto;
    width: 800px;
}




.infograph {
font-size: 34px;
width: 517px;
}

.scheme img {
    width: 600px;
}

.slogan {
    font-size: 14px;
    margin-top: 8px;
    margin-left: 10px;
    line-height: 18px;
    padding: 9px 10px;
}

.splashcapt {
    font-size: 40px;
}

.splashacapt {
    font-size: 16px;
}
.splashbcapt {
    font-size: 16px;
}

.underscheme {
    font-size: 20px;
    margin-bottom: 30px;
    width: 570px;
    margin: 0 auto 30px auto;
}

.f-col:nth-child(1) {

}

.f-col:nth-child(2) {
    display:none;
}
.f-col:nth-child(3) {

}
.f-col:nth-child(4) {

}

.sf-menu {
    font-size: initial;
}



}

@media (max-width: 800px)
{



.phonesplash img {
    width: 60%;
}

.sidesplash {
    width: 100%;
    height: 50%;
    text-align: center;
    background-repeat: no-repeat;
    background-image: url(../img/sdsplash.png);
    background-size: 100%;
    background-color: #676664;
    background-position: center center;
}

.sidesplash .splashtext {
    top: 14px;
    width: 100%;
}


.sdcol {
width: 100%;
display:block;
}

.phonescreen {
    position: absolute;
    z-index: 1000;
    top: 78px;
    right: 47px;
    width: 108px!important;
  }

.infograph {
    width: 379px;
    margin-left: 30px;
    line-height: 37px;
}

.infographim img {
    width: 140px;
}

header {
    height: 64px;
}

.logo img {
    padding-top: 19px;
    width: 130px;
}

body {
    min-width: 620px;
    }

    .inner {
    width: 590px;
}

.container {
    margin-top: 64px;
}

.slogan {
    font-size: 13px;
    margin-top: 8px;
    margin-left: 10px;
    line-height: 18px;
    padding: 6px 8px;
    display:none;
}

.toplinks {
    padding-top: 11px;
    text-align: left;
}

.mainsplash {
    height: 300px;
}

.splashtext {
    top: 80px;
}

.sticker {display:none}

.nextsplash {
    background-size: 80%;
    }

.visible-xs {
    display: inline-block!important;
}

.splashbcapt {
    margin-top: 10px;
}

.main-block h2 {
    font-weight: 300;
    font-size: 28px;
}

.underscheme {
    font-size: 16px;
    margin-bottom: 20px;
    width: 530px;
    margin: 0 auto 30px auto;
}

.scheme img {
    width: 530px;
}

#slider {
  width: 560px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  width: 560px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 560px;
  height: 358px;
  text-align: center;
}


}

@media (max-width: 590px)
{
body {
    min-width: 440px;
}



.sidesplash .splashtext {
    top: 14px;
    width: 100%;
}

.phonescreen {
    position: absolute;
    z-index: 1000;
    top: 78px;
    right: 47px!important;
    width: 108px!important;
}

.infograph {
    font-size: 23px;
    width: 320px;
    margin-left: 10px;
    line-height: 32px;
}

.infographim img {
    width: 96px;
}


.phonesplash img {
    width: 60%;
    right: -107px;
}



.phonescreen {
    position: absolute;
    z-index: 1000;
    top: 78px;
    right: 47px;
    width: 108px!important;
  }


.inner {
width:440px;
}


.scheme img {
    width: 380px;
}

#slider {
  width: 400px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  width: 400px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 400px;
  height: 256px;

}


.underscheme {
    font-size: 16px;
    margin-bottom: 20px;
    width: 380px;
    margin: 0 auto 30px auto;
}

.f-col:nth-child(3) {
    width: 100px;
    }

    .f-col:nth-child(4) {
    width: 100px;
    }

}