<div class="well">
	<legend><h2 class="form-signin-heading"><%= title %></h2></legend>
	<form class="form-horizontal font16">
		<fieldset>
			<input id="id" class="form-control hide" type="text" value="<%= id %>">

			<div class="col-sm-8">

				<!-- Domain-->
			    <div class="form-group">
					<label class="col-sm-3 control-label">Domain</label>
					<div class="col-sm-9">
						<p id="span_domain"  class="form-control-static"><%= domains[0] %></p>
					</div>
				</div>

				<% if (description != '') { %>
				<!-- Description-->
			    <div class="form-group">
					<label class="col-sm-3 control-label">Description</label>
					<div class="col-sm-9">
						<p id="span_description"  class="content form-control-static"><%= description %></p>
					</div>
				</div>
				<% } %>
			</div> <!-- left div -->

			<div class="col-sm-4 col-sm-offset-0 text-center">
				<div>
				  	<span id="website_screenshot_preview">
						
				  	</span>
			  	</div>
			</div> <!-- right div -->
		</fieldset>
	</form>
</div>