<!-- This element is wrapped in .form-group div -->
<td>
	<span> <%= locationId %> </span>
</td>
<td>
	<span> <%= locationName %> </span>
</td>
<td>
	<% if (locationAddress.street1 == '' && locationAddress.street2 == '' && locationAddress.continent == '' &&
                locationAddress.country == '' && locationAddress.province == '' && locationAddress.region == '' &&
                 locationAddress.city == '' && locationAddress.postcode == '') { print('<p class="content small-align">no information</p>'); }%>

    <div><p id="span_street1"  class="content form-control-static"><%= locationAddress.street1 %></span></div>
    <!--to avoid extra white space we print 2nd locationAddress line only if it has some content in it -->
    <div id="span_street2">
        <% if (locationAddress.street2 != '') {
            print('<span class="content">' + locationAddress.street2 + '</span>');
        }%>
    </div>
    <div class="content">
        <% if (locationAddress.country != '') {
            print('<span id="span_country">' + locationAddress.country + '</span>');
        }%> 
        <% if (locationAddress.province != '') {
            print('<span id="span_province">, ' + locationAddress.province + '</span>');
        }%> 
        <% if (locationAddress.city != '') {
            print('<span id="span_city">, ' + locationAddress.city + '</span>');
        }%> 
        <% if (locationAddress.postcode != '') {
            print('<span id="span_postcode">, ' + locationAddress.postcode + '</span>');
        }%>
    </div>

</td>
<td>
	<span> <%= ownerName %> </span>
</td>
<td>
	<span> <%= timeRestriction %> </span>
</td>
<td>
	<%  
		if (status == "pending" && type == "invitation") {
			print('<button type="button" class="btn btn-success accept-user-resources" aria-hidden="true">Accept</button>');
			print('<button type="button" class="btn btn-danger delete-user-resources" aria-hidden="true">Refuse</button>');
		} else if(status == "pending" && type =="application") {
			print('<button type="button" class="close delete-user-resources" aria-hidden="true">&times;</button>');
		} else if (status == "accepted") {
			print('<button type="button" class="close delete-user-resources" aria-hidden="true">&times;</button>');
		} else {
			print('<button type="button" class="btn btn-warning restore-user-resources" aria-hidden="true">Restore</button>');
		}
	%>
</td>