# 1) Allows Delete and PUT requests to api.php
RewriteEngine on 
RewriteRule ^api/(.*)$ api.php/$1

<Limit GET POST PUT DELETE>
  Allow from all
</Limit>

RewriteEngine on 
RewriteRule ^commands/(.*)$ commands.php/$1

<Limit GET POST PUT DELETE>
  Allow from all
</Limit>

# 2) Removes all www. prefixes from the url
RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

# 3) Disallows viewin content of the folders
Options -Indexes

# 4) Controls access to internal .php files

# 5) Set Not Found page
# ErrorDocument 404 http://biom.io/#404

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]