<div class="extention-email col-sm-12">
	<div class="extention-email-name col-sm-8">
		<p><%= email %></p>
	</div>
	<div class="extention-email-verify col-sm-2 text-right">
		<span class="text-success verified <% if (verified == 0) print("hide");%>"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></span>
		<button style="margin-top: -3px" class="btn btn-sm btn-primary verify <% if (verified == 1) print("hide");%>">verify</button>
	</div>
	<div class="extention-email-remove col-sm-2 text-left">
		<button type="button" class="close pull-left control-button remove <% if (primary == 1) print("hide");%>" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
	</div>
</div>