<div class="well col-sm-6 col-sm-offset-3 row">
	<form role="form">
		<fieldset>

			<legend><h2 class="form-signin-heading"><%= type %> sign up</h2></legend>

			<div id = "sign_in_username_group" class="form-group col-sm-12">
				<input id="sign_in_username" type="text" value="" class="form-control sign-up-username" autofocus="" maxlength="50" placeholder="Username">
				<span id="sign_in_username_span" class="help-block"></span>
			</div>

			<div id = "sign_in_first_name_group" class="form-group col-sm-6" style="padding-left: 0; padding-right: 0; height: 34px">
				<input id="sign_in_first_name" type="text" value="" class="form-control sign-up-name" autofocus="" maxlength="50" placeholder="First Name">
				<span id="sign_in_first_name_span" class="help-block"></span>
			</div>

			<div id = "sign_in_last_name_group" class="form-group col-sm-6" style="padding-left: 0; padding-right: 0; height: 34px">
				<input id="sign_in_last_name" type="text" value="" class="form-control sign-up-name" maxlength="50" placeholder="Last Name" style="border-left-width: 0;">
				<span id="sign_in_last_name_span" class="help-block"></span>
			</div>

			<div id = "sign_in_email_group" class="form-group" style="clear: both">
				<input id="sign_in_email" type="email" value="" class="form-control" placeholder="Email">
				<span id="sign_in_email_span" class="help-block"></span>
			</div>

			<!--Hidden field for script purposes-->
			<input type="hidden" id="role" name="role" value="<%= typeLower %>">
			
		</fieldset>

		<div id = "sign_in_submit_group" class="form-group text-center">
			<button id="sign_in_submit" class="btn btn-lg btn-block btn-primary" type="submit">Sign up</button>
			<span id="sign_in_submit_span" class="text-danger"></span>
		</div>
	 </form>
</div>