@font-face {font-family: Bariol_Regular; src: url("../fonts/Bariol_Regular.otf");}
@font-face {font-family: Bellota-Light; src: url("../fonts/Bellota-Light.otf");}
@font-face {font-family: Bellota-Regular; src: url("../fonts/Bellota-Regular.otf");}
@font-face {font-family: Corbert-Regular; src: url("../fonts/Corbert-Regular.otf");}
@font-face {font-family: MandalaHome; src: url("../fonts/MandalaHome.ttf");}
@font-face {font-family: manteka; src: url("../fonts/manteka.ttf");}
@font-face {font-family: Ubuntu_L; src: url("../fonts/Ubuntu-L.ttf");}
@font-face {font-family: Ubuntu_R; src: url("../fonts/Ubuntu-R.ttf");}
@font-face {font-family: Kingthings_Serifique; src: url("../fonts/Kingthings_Serifique.ttf");}
@font-face {font-family: Kingthings_Serifique_Light; src: url("../fonts/Kingthings_Serifique_Light.ttf");}
@font-face {font-family: Kingthings_Serifique_Ultra_Light; src: url("../fonts/Kingthings_Serifique_Ultra_Light.ttf");}

