<div id="device_<%= id %>" class="mobile-device col-sm-12">
	<div class="mobile-device-name col-sm-6">
		<p><%= title %></p>
		<form class="form hide">
			<input placeholder="<%= title %>" class="form-control">
			<button type="submit" class="btn hide"></button>
		</form>
	</div>
	<div class="mobile-device-buttons col-sm-3">
		<button type="button" class="close control-button remove" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
		<button type="button" class="close control-button update" aria-hidden="true"><span class="glyphicon glyphicon-pencil" aria-hidden="true" style="margin-right: 10px"></span></button>
	</div>
	<div class="col-sm-3">
		<button class="btn btn-sm btn-primary mobile-device-face <% if (status == 0) print("hide");%>">register face</button>
		<button class="btn btn-sm btn-primary mobile-device-verify <% if (status == 1) print("hide");%>">verify</button>
	</div>
</div>