<div class="profile-email col-sm-12">
	<div class="profile-email-name col-sm-8">
		<p <% if (extention == 1) print("style='font-weight: bold'");%>><%= email %></p>
	</div>
	<div class="profile-email-verify col-sm-2 form hide">
		<span class="glyphicon glyphicon-ok text-success verified  <% if (verified == 0 && primary == 0) print("hide");%>" aria-hidden="true"></span>
		<button class="btn btn-sm btn-primary verify <% if (verified == 1 || primary == 1) print("hide");%>">verify</button>
	</div>
	<div class="profile-email-remove col-sm-2 form hide">
		<button type="button" class="close remove <% if (primary == 1) print("hide");%>" aria-hidden="true">&times;</button>
	</div>
</div>