<div class="well">
	<legend><h2 class="form-signin-heading">Provider - Personal Info</h2></legend>

	<form class="form-horizontal font16">
		<fieldset>
			<div class="col-sm-8">
				<!-- Name-->
			    <div class="form-group">
					<label class="col-sm-3 control-label">Title</label>
					<div class="col-sm-9">
						<% if (name == '') { print('<p class="content small-align">no information</p>'); }%>
						<p id="span_name"  class="content form-control-static"><%= name %></p>
						<div class="form hide col-sm-12">
							<input id="name" class="form-control" type="text" value="<%= name %>">
							<p class='help-block'><small>company name</small></p>
						</div>
					</div>
				</div>

				<!-- EIN-->
			    <div class="form-group">
					<label class="col-sm-3 control-label">TAX ID (EIN)</label>
					<div class="col-sm-9">
						<% if (ein == '') { print('<p class="content small-align">no information</p>'); }%>
						<p id="span_ein"  class="content form-control-static"><%= ein %></p>
						<div class="form hide col-sm-9">
							<input id="ein" class="form-control" type="text" value="<%= ein %>">
							<p class='help-block'><small>TAX ID (EIN)</small></p>
						</div>
					</div>
				</div>

				<!-- Email-->
			    <div class="form-group">
					<label class="col-sm-3 control-label">Email</label>
					<div class="col-sm-9">
						<% if (email == '') { print('<p class="content small-align">no information</p>'); }%>
						<p id="span_email"  class="content form-control-static"><%= email %></p>
						<div class="form hide col-sm-9">
							<input id="email" class="form-control" type="text" value="<%= email %>">
							<p class='help-block'><small>contact email for your company</small></p>
						</div>
					</div>
				</div>

				<!-- Phone-->
			    <div class="form-group">
					<label class="col-sm-3 control-label">Phone</label>
					<div class="col-sm-9">
						<% if (phone == '') { print('<p class="content small-align">no information</p>'); }%>
						<p id="span_phone"  class="content form-control-static"><%= phone %></p>
						<div class="form hide col-sm-9">
							<input id="phone" class="form-control" type="text" value="<%= phone %>">
							<p class='help-block'><small>contact phone for your company</small></p>
						</div>
					</div>
				</div>

				<!-- Address-->
			    <div class="form-group">
					<label class="col-sm-3 control-label">Address</label>
					<div class="col-sm-9">
						<% if (address.line1 == '' && address.line2 == '' && address.city == '' &&
								address.region == '' && address.code == '' && address.country == '') { print('<p class="content small-align">no information</p>'); }%>

						<div><p id="span_line1"  class="content form-control-static"><%= address.line1 %></span></div>
						<!--to avoid extra white space we print 2nd address line only if it has some content in it -->
						<div id="span_line2">
							<% if (address.line2 != '') {
							    print('<span class="span_line2">' + address.line2 + '</span>');
							}%>
						</div>
						<div class="content">
							<% if (address.country != '') {
								print('<span id="span_country">' + address.country + '</span>');
							}%>	
							<% if (address.region != '') {
								print('<span id="span_region">, ' + address.region + '</span>');
							}%>	
							<% if (address.city != '') {
								print('<span id="span_city">, ' + address.city + '</span>');
							}%>	
							<% if (address.code != '') {
								print('<span id="span_code">, ' + address.code + '</span>');
							}%>
						</div>

						<div class="form hide col-sm-12">
							<input id="address_line1" class="form-control" type="text" value="<%= address.line1 %>">
							<p class='help-block'><small>Street address, P.O. box, company name, c/o</small></p>
							<input id="address_line2" class="form-control" type="text" value="<%= address.line2 %>">
							<p class='help-block'><small>Apartment, suite , unit, building, floor, etc.</small></p>
							
							<input id="address_country" class="form-control" type="text" value="<%= address.country %>">
							<p class='help-block'><small>country</small></p>

							<input id="address_region" class="form-control" type="text" value="<%= address.region %>">
							<p class='help-block'><small>state / province / region</small></p>

							<input id="address_city" class="form-control" type="text" value="<%= address.city %>">
							<p class='help-block'><small>city</small></p>

							<input id="address_code" class="form-control" type="text" value="<%= address.code %>">
							<p class='help-block'><small>zip or postal code</small></p>
						</div>
					</div>
				</div>

			</div> <!-- /left div -->
		
			<div class="col-sm-4 col-sm-offset-0 text-center">
				<div>
					<span id="provider_image_frame">
						<input id="provider_image_input" onChange="providerPreviewImage(this)" type="file" accept="image/*" style="display:none"/>
					</span>

				  	<span id="provider_image_preview">
						
				  	</span>
			  	</div>
			  	
				<div>
					<button id ="provider_image_upload" onClick="providerTriggerImageUpload(); return false;" class="btn btn-warning form hide col-sm-offset-2 col-sm-8" > Upload Logo</button><br>
					<button id="provider_image_save"  onClick="providerSaveImage(); return false;" class="btn btn-success form hide col-sm-offset-2 col-sm-8 disabled"> Save Logo</button>
					<button id="provider_image_delete"  onClick="providerDeleteImage(); return false;" class="btn btn-danger form hide col-sm-offset-2 col-sm-8 disabled"> Remove Logo</button>
				</div>
				<small class="col-sm-offset-2 col-sm-8"><p id="provider_image_progress" class='help-block form hide'></p></small>
			</div> <!-- /right div -->

			<div class="col-sm-12 col-sm-offset-0">

			</div> <!-- /cenet div -->


			<div class="form-group">
				<label class="col-sm-2 control-label"></label>
			    <div class="col-sm-10">
				    <input type="button" class="btn btn-primary provider-update-info content" value="Update Information" />
				    <div class="col-sm-12">
						<input type="button" class="btn btn-success provider-save-changes form hide" value="Save Changes" />
						<input type="button" class="btn btn-default provider-cancel-changes form hide" value="Cancel" />
						<br/>
						<span class="span-save form hide"></span>
					</div>
				</div>
		    </div>
		</fieldset>
	</form>
</div>