
.biomio-audio {
    background: none repeat scroll 0 0 #FFF;
    display: flex;
    flex-direction: column;
    font: 14pt Arial,sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
}
.biomio-audio canvas {
    background: none repeat scroll 0 0 #202020;
    box-shadow: 0 0 10px blue;
    display: inline-block;
    height: 60%;
    width: 80%;
}
.biomio-audio #controls {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.biomio-audio #record {
    height: 100px;
}
.biomio-audio #record.recording {
    background: radial-gradient(ellipse farthest-corner at center center , #ff0000 0%, #FFF 75%, #FFF 100%, #7db9e8 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.biomio-audio #save, .biomio-audio #save img {
    height: 0;
}
.biomio-audio #save {
    opacity: 0.25;
}
.biomio-audio #save[download] {
    opacity: 1;
}
.biomio-audio #viz {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 45%;
    justify-content: space-around;
    width: 100%;
}
@media (orientation: landscape) {
    body {
        flex-direction: row;
    }
    .biomio-audio #controls {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    .biomio-audio #viz {
        height: 45%;
        width: 100%;
    }
}
