body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

#biomio-content {
    width: 600px;
    margin: 0 auto;
    height: 500px;
}

#titlebar {
    background: #f0f6ff;
    color: #f0f6ff;
    font-size: 130%;
    margin: 0;
    padding: 5px;
}

.user-loaded #titlebar {
    color: blue;
}

#hand-position, #finger-position, #first-name, #last-name {
    font-weight: bold;
}

#preview-div {
    position: relative;
    display: inline-block;
    background: black;
    width: 320px;
    height: 480px;
    border: 1px solid black;
}

.match #preview-div {
    box-shadow: 0 0 10px 10px #0c0;
}

#invisible-video {
    display: none;
}

#capture-frame {
    width: auto;
    height: auto;
}

#preview {
    width: auto;
    height: 480px;
}

.nocam #preview, .camerasetup #preview {
    display: none;
}

#image-preview {
    width: auto;
    height: 480px;
    display: none;
}

.nocam #image-preview {
    display: block;
}

#scratchpad {
    display: none;
}

#nocam-sign {
    display: none;
    position: absolute;
    top: 10px;
    left: 50%;
}

.noimage #nocam-sign {
    display: block;
}

#nocam-sign img {
    position: relative;
    left: -50%;
    height: 200px;
    width: auto;
}

#image-upload {
    position: absolute;
    bottom: 10px;
    left: 50%;
    display: none;
    font-family: serif;
    color: white;
}

.nocam.capturing #image-upload {
    display: block;
}

.match #image-upload {
    display: none;
}

#file-input {
    display: none;
}

#image-upload img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

#image-upload label {
    position: relative;
    left: -50%;
    cursor: pointer;
}

#success-text {
    position: absolute;
    bottom: 80px;
    left: 50%;
    display: none;
    color: #0a0;
    font-size: 400%;
    font-weight: bold;
}

#success-text p {
    position: relative;
    left: -50%;
    margin: 0;
    padding: 0;
    text-shadow: 0 0 20px #fff;
}

.match #success-text {
    display: block;
}

#progress-bar {
    margin: 0 auto;/*
    border: 1px solid blue;
    height: 5px;*/
    width: 320px;
}

#progress-value {
    /*width: 0%;
    height: 5px;
    background: blue;*/
}

#registration-buttons {
    text-align: center;
    padding: 0;
    margin: 0;
}

#registration-buttons input {
    display: inline-block;
    margin: 20px auto;
	box-shadow: 0px 11px 12px -10px #3e7327;
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	background-color:#77b55a;
	border-radius:6px;
	border:2px solid #4b8f29;
	cursor:pointer;
	color:#ffffff;
	font-size:28px;
	font-weight:bold;
	padding:16px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}

#registration-buttons input:hover {
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	background-color:#72b352;
}

#registration-buttons input:active {
	position:relative;
	top:1px;
}

.capturing #start-registration {
    display: none;
}

#registration-buttons #stop-registration {
    display: none;
}

.capturing #registration-buttons #stop-registration {
    display: inline-block;
}

#tips {
    background: #ddd;
    padding: 10px;
    margin: 30px 0;
    text-align: left;
}

#tips p {
    font-weight: bold;
    margin: 0;
}

#tips ul {
    margin: 0;
}

/* vertical webcam view */
.webcam_content div {
    overflow: hidden;
    width: 320px;
}
.webcam_content div div {
    width: 320px;
    height: 480px;
    overflow: hidden;

    background-image: url("img/face-background.png");
    background-size: 320px 480px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.4;
    z-index: 10000;
    position: fixed;
}
.webcam_content #preview {
    margin-left: -140px;
}

/*portrait siluette */
#portrait {
    position: absolute;
    height: 480px;
    margin-top: -480px;
}
#portrait img {
    opacity: 0.5;
    height: 480px;
    width: 320px;
    display: none;
}